<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body style="color:#797875; padding: 15px;">
    <div style="text-align: center;margin-top: 40px;"><img src="./img/charmbo.svg"></div>
    <h2 style="text-align: center;color: black;">隱私權政策</h2>

    <p>Charmbo（以下簡稱"Charmbo"或"本網站"）為尊重並且保護您線上的隱私，請您詳細閱讀本聲明以了解您在使用 Charmbo 所提供的服務時，我們處理您個人資料的政策與原則，以及蒐集利用之範圍及目的。本聲明隨時可能會變更，請定期查詢本網站之內容，將不另行通知。本網站將依法令及本聲明內容保護您對您個人資料之隱私權，當您造訪本網站並將您的個人資訊提供給我們時，即表示您接受及同意本隱私權政策中所述的作法。</p>
    
    <p>### 隱私權政策適用範圍</p>

    <p>本隱私權政策只限於本網站與我們所提供的相關服務。若您不願提供個人資料或不同意本聲明，請立即停止使用本網站所提供之服務。若您繼續使用本網站與其相關服務，則視為您同意本聲明。</p>

    <p>### 法定應告知事項</p>

    <ol>
      <li>蒐集機關名稱：Charmbo</li>
      <li>蒐集目的：提供本網站相關服務、行銷、契約、類似契約或其他法律關係事務、消費者、客戶管理與服務、其他經營合於營業登記項目或組織章程所定之業務客戶管理、會員管理及其他與第三人合作之行銷推廣活動。</li>
      <li>利用期間：本網站將於營運期間保存您的個人資料。</li>
      <li>運用地區: 您的個人資料將用於 Charmbo 營運之地區。</li>
      <li>利用對象：本網站及本公司委外之協力廠商（包括但不限於物流、金流或活動贈品、展示品之廠商）。</li>
      <li>利用方式：依蒐集目的範圍及本隱私權政策進行利用。</li>
      <li>行使個人資料權利方式：依個人資料保護法規定，您就您的個人資料享有查詢或請求閱覽、請求製給複製本、請求補充或更正、請求停止蒐集、處理或利用、請求刪除之權利。您可以透過設定之問題回報，表示問題。為避免電子郵件系統漏信或其他原因無法收悉，以本網站回覆收悉為準），本網站將於收悉您的請求後，儘速處理。</li>
      <li>當受司法、警察或其他有權機關基於調查要求時，亦可能將您的個人資料提供給第三人。</li>
    </ol>

    <p>### 個人資料之蒐集</p>

    <ol>
      <li>當您註冊成為 Charmbo 會員時，可能會請您提供您的個人資訊，包括但不限於姓名、性別、相片、暱稱、生日、電子信箱、身高、體重、自我介紹、帳號、密碼、職業、年齡、星座、婚姻狀況、個人興趣、習慣、地址、職業、收入、宗教信仰、裝置資訊、學校等私密性之資料。並在您使用本服務時蒐集您的互動紀錄，包括但不限於對話紀錄、使用行為、購物行為、互動行為、聊天行為等。這些動作僅為了提供您最佳的交友服務，使用範圍包括但不限於優化配對對象、訓練人工智慧、檢舉審核依據、服務內的評分分析與改善建議等服務，因此我們希望您能夠提供詳細與準確的資料。</li>
      <li>一經註冊後，您會獲得一個 Charmbo 會員帳號，並且以該帳號充分使用本網站提供之所有會員服務。</li>
      <li>請您妥善保密您的網路密碼與個人資料，不要將個人資料（例如您的地址、電話、私密照片等資料）提供給任何人，以保障您的資料安全與網路交友安全。</li>
      <li>除以上法定之個人資料類別外，本網站將使用 cookie 或類似技術記錄您的於本網站中的活動紀錄。</li>
      <li>本網站網站管理系統亦將紀錄您上網的 IP 位址、停留時間、瀏覽網頁及點選資料紀錄等，並依照個人資料保護法對相關軌跡資料進行保存。</li>
      <li>若您所提供之個人資料若有錯誤、不正確情事者，不受本聲明之保護。</li>
      <li>如果因為網站被合併、收購或重整，或將部份或全部資產以任何形式銷售給第三方單位，而必需將您個人隱密資料轉到新的營運單位時，我們會在資料轉移時通知您新適用的隱私權政策。</li>
    </ol>

    <p>### 通知管理</p>

    <ol>
      <li>基於提供會員服務資訊的需求，您同意註冊成為本網站的會員後，本網站會傳送電子郵件給您。</li>
      <li>本網站在電子郵件上會註明是由 Charmbo 發送。</li>
      <li>我們會不定期發送系統訊息給您，內容為有關本站最新的服務訊息、活動通知、網站公告等。</li>
      <li>當您選擇關閉系統通知，而導致遺漏通知造成您的損失時，本網站將不負任何責任。</li>
    </ol>

    <p>### 個人資料的安全防範</p>

    <ol>
      <li>您的會員帳號、密碼等任何個人資料，請不要提供給任何第三人。</li>
      <li>您的會員帳戶資料和網路身份檔案資料均有密碼保護，只有您才能讀取此個人資料。</li>
      <li>您可以利用會員帳號和密碼，來修改會員資料和網路身份檔案資料。</li>
      <li>基於網路特性，所有使用您的會員帳號和密碼存取或進入本系統後的行為，都視為您自己的行為。</li>
      <li>一旦我們收到您傳送的資料，Charmbo 上會盡最大努力確保儲存於系統中的安全性。</li>
      <li>本網站使用適當保全措施避免系統被非法侵入；防止資料被修改、揭露或破壞。機密的個人密碼也將透過加密方式保護。信用卡號碼等高度機密資料將不會儲存在我們的網路伺服器上。所有有關付款及捐款的交易數據都會透過電腦加密方式傳遞給金融機構或收款代理商。</li>
      <li>由於網際網路資料的傳輸不能保證百分之百的安全，儘管我們努力保護您的個人資料安全，仍無法確保您傳送或接收資料的安全。此風險並不在 Charmbo 上承擔的責任範圍內。</li>
    </ol>

    <p>### 自我保護措施</p>

    <ol>
      <li>除了您主動登錄及參與本網站及其他合作夥伴之網站及活動並提供您的個人資料之外，您也可能在本網站網站中的留言版、聊天室、討論版、粉絲團等與其他網友互動服務中主動提供個人資料如電子郵件，姓名等。這種形式的資料提供，將被視為您自行公開之個人資料。</li>
      <li>請妥善保管您的密碼及或任何個人資料，不要將任何個人資料提供給任何人。在您欲離開電腦前或不再使用 Charmbo 服務時，務必記得登出帳號，若您是與他人共享電腦或使用公共電腦，切記要登入並關閉瀏覽器視窗，以防止他人讀取您的個人資料或信件。</li>
    </ol>

    <p>若您對本網站中的會員條款與隱私權政策有任何疑問或建議，歡迎於設定中之問題回報提出。</p>

    <p>### 2021年</p>

  </body>
</html>
