<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body style="color:#797875; padding: 15px;">
    <div style="text-align: center;margin-top: 40px;"><img src="./img/charmbo.svg"></div>
    <h2 style="text-align: center;color: black;">使用者條款</h2>

    <p>Charmbo（以下簡稱"本平台")，為一個交友平台，包含網站及手機應用程式(charmbo)當您開始使用 charmbo 與其相關的服務時，代表您已閱讀、了解並同意本會員服務條款（以下簡稱"會員條款"）及隱私權政策。若您不同意本會員條款或隱私權政策中的內容，請勿使用本平台與相關服務。</p>

    <p>Charmbo 可能隨時修改會員條款及隱私權政策，修改後立即生效，不另行通知，請您登入本平台時隨時注意是否更新。若您於會員條款與隱私權政策變更或修改後繼續使用本平台或相關服務，代表您同意遵守所有變更或修改後之內容。</p>

    <p>您聲明並保證您已年滿十八歲而具有簽署、行使與履行本會員條款能力與法定權力。若您以任何方式向他人透露自己未滿十八歲，經審核／檢舉並舉證成功後，您的會員身份將視同無效，本平台得隨時終止您使用本服務。</p>
    
    <p>**一、您和其他會員的互動**</p>
    
    <ol>
      <li>我們不會審查會員的身份或背景，也不會檢查該會員在本平台個人檔案中所陳述資料的真實性。</li>
      <li>您要對您與其他會員的互動負所有法律上之責任。</li>
      <li>您理解網路交友具有某些程度上的風險。透過網路您所結交的網友有可能是未成年人或使用虛假身份或有犯罪企圖人士。若您發現有前開情形時，歡迎向我們反應，我們會採取適當措施，以維護平台之良好使用環境。</li>
      <li>您同意當您與其他會員接觸時，不論是在本網站或透過其他通訊軟體、平台、電話、或直接碰面的情況，您會以適當措施保護自己的個人安全與個人資料的隱私。不論在任何情況下都不要把您的地址、電話、私密照片、銀行帳號或信用卡號碼等個人私密資料透露給其他會員。</li>
      <li>如您利用本平台提供之服務進行詐欺或其他不法之情事，您需要為自身行為負責。</li>
    </ol>  

    <p>**二、您上傳到 Charmbo 的資料**</p>
    
    <ol>
      <li>您需要對您在本平台所刊登的交友檔案或所提供的個人資料，以及您發送給其他會員的資料內容負責。</li>
      <li>您有責任維持並更新您所有的個人資料，確保其為正確、最新及完整性。</li>
      <li>我們保留審核您所提供的個人文字、照片等資料的權利，若您提供任何不實、錯誤、不完整、不適當的資料，我們有權暫停或是終止您的帳號，並且拒絕您使用本平台服務之全部或一部份。</li>
      <li>您同意授權 Charmbo 刊載任何經您上載、傳送、輸入或提供於 Charmbo 上的公開內容，以及參加 Charmbo 所舉辦的社交活動之相關內容（包括但不限於活動現場相片、影音、文字等），視為您已允許我們可以基於本平台經營或行銷之目的，無條件使用、修改、重製、公開播送、散布、發行、公開發表此內容。</li>
      <li>若您無進行前述授權之合法權利，請勿擅自將該內容上載、傳送、輸入或提供於本平台。</li>
      <li>您並應保證我們使用、修改、重製、公開播送、散布、發行、公開發表該等內容，不致侵害任何第三人之智慧財產權或其他權利，如有違反前述規定，相關責任由您自行負責，如造成本平台之損害，並應對我們負損害賠償責任，包括但不限於金錢賠償，訴訟費用及合理律師費用等。</li>
    </ol>

    <p>**三、**Charmbo **帳戶使用規範**</p>
    
    <ol>
      <li>您必須保證您已滿十八歲而具有簽署、行使與履行本會員條款能力與法定權力。</li>
      <li>您必須使用自己的個人資訊註冊，且不得由他人代為註冊。</li>
      <li>您只能擁有一個 Charmbo 帳戶，不得重複註冊多個帳戶。</li>
      <li>您不得將自己的帳戶販售、轉讓給其他人使用、或與他人共用。</li>
      <li>使用本服務時，請您能確實遵守適當法律和道德規範。</li>
      <li>當您使用本平台或其相關服務時，都必須符合所有適用於您的法規。</li>
      <li>您同意不會做出任何可能危害本平台安全的行為、或令其他人無法登錄使用本平台、或對本平台及其內容造成損害。</li>
      <li>非經本平台同意，您不會任意增加、刪減或修改本平台或其他相關服務之內容。</li>
      <li>您同意不會使用本平台或其他服務從事會危害本平台權益或第三方權益的行為。</li>
      <li>我們提供本平台與相關服務僅提供個別會員作個人使用，不得被使用於營利相關的商業用途上。</li>
      <li>您必須為自然人。非自然人，包括但不限於股份有限公司、有限責任公司、合夥企業與慈善組織等，無法註冊成為本平台會員或使用任何服務。</li>
      <li>您保證不會透過本平台或其他服務刊登或傳送給其他會員任何不適當的內容，包含但不限於誹謗、辱罵、猥褻、瀆神、冒犯、性目的、脅迫、騷擾、商業性、非法資料、或違反或侵犯第三方權益之內容。使用者可以透過檢舉機制檢舉他人的不當行為。</li>
      <li>您同意本平台可為調查使用者檢舉事件而採取適當措施。</li>
      <li>您不得以任何方式利用本平台或其它服務收集會員的名字，電郵帳號等會員個人資料做為商業、非商業用途。</li>
      <li>您不得以任何方式利用本平台或其它服務傳送給會員垃圾電郵，直銷，連鎖信或其他商業廣告信。</li>
      <li>您不得以任何方式利用本平台或其它服務未經會員明確的許可，向其它會員廣告、推銷商品或服務。</li>
      <li>您不得以任何方式利用本平台或其它服務從本平台下載或從其他服務蒐集其他會員的資料用以騷擾，追蹤或傷害他人。</li>
      <li>您不得假扮別人身份。</li>
      <li>您不得明示或默示我們為您在本平台所刊登的內容陳述背書。</li>
      <li>您不得用任何人工或自動方式或應用其他自動搜尋軟體或設備抓取、蒐集、索引、探勘本平台的內容與會員資料，或以任何方式重製或規避本平台或其它服務或內容的正常瀏覽架構及呈現模式。</li>
      <li>您不得刊登，傳送或複製任何受著作權、商標保護的內容或其他相關資訊。</li>
      <li>您不得刊登、傳送或散布軟體病毒或類似惡意的電腦程式語言、檔案或程式。</li>
      <li>您不得聲稱或用電腦程式或其它設備方法假裝與 Charmbo 網站、手機軟體、電子報、或其相關服務有關聯。</li>
      <li>您不得修改、改寫、翻譯、銷售或用返向工程方式拆開或破解本平台與其相關服務的任何一部份內容、技術或軟體。</li>
      <li>為了保護本平台或其他服務的品質，我們有權隨時中止來自特定網路位址的會員繼續使用本平台。</li>
      <li>我們有權利監視，但是沒有義務處理您與其他會員的個人糾紛。您與其他會員的糾紛由您自行負責。</li>
    </ol>

    <p>**四、免責聲明**</p>
    
    <ol>
      <li>Charmbo 以本平台現況所具備之條件提供服務及其內容。我們不會答應或保證用本平台或相關服務會獲得您所期望的效果。</li>
      <li>在符合上述一般性責任的原則下，不管任何情況，如果有會員由於下列原因造成任何相關傷害或間接損失，我們不為此負擔任何法律上的責任，包括：</li>
    
      <ol>
        <li>使用本平台或本平台所提供的網路及其它實體服務。</li>
        <li>任何原因造成無法使用本平台或本平台所提供的其它服務。</li>
        <li>任何刊登於本平台或與其它服務相關聯的內容資訊的錯誤。</li>
        <li>本平台使用者或會員在線時或離線後的個人行為。</li>
        <li>本平台使用者或會員相互溝通時所產生的：</li>

        <ol>
          <li>1. 操作或傳輸錯誤遺漏、阻礙、刪除、不完整、延遲。</li>
          <li>2. 未經許可存取。</li>
          <li>3. 偷竊，破壞或未經許可更改資料等行為。</li>
          <li>4. 其它因本平台或本平台所提供的其它服務相關的問題或技術故障。</li>
          <li>5. 除了上述及其他本會員條款的條款之外，您瞭解並同意在任何情況下，您因為取信本平台或本平台所提供的其它服務的內容，或是本平台會員傳送給您的任何資訊，所造成任何相關傷害或間接損失，我們及我們的合作夥伴將不會為此負任何法律上的責任。</li>
        </ol>
      </ol>
    </ol>

    <p>**五、帳戶安全**</p>

    <ol>
      <li>您有義務保密您在本平台使用的會員帳號與密碼，任何由該會員帳號與密碼正確登入所衍生的行為，除您可證明非歸責您的因素所致者，都將回歸您的責任，請特別注意。</li>
      <li>您同意當發現您的會員帳號或密碼被非法盜用或發現本站網管安全漏洞時會立刻通知我們。</li>
      <li>當您使用公用或共用電腦上網時，應特別小心，不要讓別人看到或紀錄您的密碼或其他個人資料，並於使用完畢後登出。</li>
      <li>如果您因為違反上述條款而造成任何傷害或損失，我們將不會為此負擔任何法律上的責任。</li>
    </ol>

    <p>**六、**Charmbo **上的內容所有權**</p>
    
    <ol>
      <li>本平台與相關服務上任何可觀看、聽取或透過其他方法取得的資訊，包括但不限於所有網站架構、網站介面及畫面之設計安排、網頁設計、商標、報告、文字、影片、圖片、語音和其他素材（以下統稱「內容」）都受到台灣與國際著作權法、商標法與其他法律的保護，且其所有權屬於我們或授權方。</li>
      <li>除非經過我們的書面許可，您不得對本平台內容或從本平台取得的資訊進行修改、更改格式、複製、重製、顯示、發布、重新張貼、傳送、公布、授權、銷售、出租、轉移或據此製作出其他作品，已經書面同意者不受此限制。</li>
    </ol>
    
    <p>**七、第三單位內容可信度**</p>
    
    <ol>
      <li>任何第三方公司或廠商透過本平台或其他服務提供給您的任何意見、建議、陳述、報價與其他內容或資訊，都歸該第三方個別的責任。</li>
      <li>對於該資訊的完整性、正確性、可用性或可靠性，我們不會背書、保證或擔負任何法律上的責任。</li>
    </ol>
    
    <p>**八、系統中斷或故障**</p>    
    
    <p>本平台服務有時會發生系統服務中斷、延遲或故障，或許將造成您使用的不便或資料喪失、錯誤等情形，發生此狀況時，我們將盡速恢復服務，但對於因前述情形, 或其他不可抗力或突發狀況之因所造成您使用本服務之不便及損失，不負任何賠償責任。</p>
    
    <p>**九、會員帳戶資料儲存及管理措施**</p>
    
    <ol>
      <li>您同意我們針對本服務訂定的帳戶管理措施及限制，包含但不限於會員的訊息、好友名單、會員資料、照片、虛擬代幣（狗餅乾、放大鏡）、其他會員在本平台中使用服務或上傳內容等之最長保留期間、最大數量或容量限制</li>
      <li>若我們根據訂定的帳戶管理措施將以上內容刪除或未予儲存，您同意我們不須承擔任何責任</li>
      <li>您同意我們有權關閉長時間未使用之帳戶服務，亦有權不論通知與否隨時變更帳戶管理措施及限制。</li>
    </ol>

    <p>**十、廣告**</p>    
    
    <ol>
      <li>我們有可能與合作廠商提供會員廣告內容，包括但不限於文字、圖片、影片、樣品等。</li>
      <li>該廣告內容皆由廣告商、產品或服務的提供廠商所提供。</li>
      <li>對於廣告內容您應自行斟酌判斷其適合性及真實性，本平台對於廣告內容不負任何擔保責任。</li>
    </ol>

    <p>**十一、連結及下載**</p>
    
    <ol>
      <li>本平台或其他服務可能會提供連結至其他第三方所提供的網站。</li>
      <li>這些網站內容均分別由各經營者自行負責，不在我們管理範圍內。</li>
      <li>我們不能保證任何第三方網站所提供的內容的品質、正確性及適法性，您應自行判斷並選擇合適的內容瀏覽或下載，以免造成您個人的損害。</li>
    </ol>
    
    <p>**十二、買賣與交易行為**</p>
    
    <p>本平台聲明不介入您與廠商或個人間的任何買賣、服務或交易行為。您透過其他廠商或個人所獲得的商品、服務或交易標的物，本平台亦不負任何擔保責任。如有廠商或個人透過本平台或經由本平台連結至其他網站進而提供商品買賣、服務或其他交易行為時，您與該廠商或個人進行交易，該買賣或其他合約僅存在您與該廠商或個人之間。針對廠商與個人提供之商品、服務、或其他交易項目，您應該要求該廠商或個人對之內容、品質、運送等，負擔保證事項與瑕疵擔保責任。因前述買賣、服務或交易行為所產生之爭執或退貨需求，您應向該廠商或個人尋求賠償或解決之道。本網站內的產品購買為 In-App-Purchase 模式，由會員透過手機內帳戶綁定的信用卡連結至 App Store 與 Google Play 進行購買。如您購物時使用的信用卡持卡人非您本人，請確認您有權使用此信用卡進行付費。</p>
    
    <p>**十三、會員服務暫停或中斷**</p>
    
    <ol>
      <li>本平台會定期進行機器設備之維修、更新，並因而暫停服務</li>
      <li>本平台於使用期間內將盡力確保會員服務之正常運作，如因天災或其他不可抗事件，或其他不可歸責於我們之事由，會員服務可能暫停、中斷或故障</li>
      <li>當遇到設備維護、更新、或其他不可抗因素導致服務暫停時，登入本平台會顯示系統公告，將不另行通知</li>
      <li>設備維護、更新、或其他不可抗因素導致服務暫停時，如造成您的任何損失，本平台將不負任何責任</li>
      <li>如您因未成年而被封鎖會員帳號，本平台不負任何責任。</li>
    </ol>
    
    <p>**十五、會員服務終止**</p>    
    
    <ol>
      <li>一旦您完成會員註冊，您即可開始使用本服務，本服務會員條款自您開始啟用任何服務起生效，至會員關係終止為止。若您欲中途終止會員服務，可透過設定區主動刪除您的會員帳號，帳號一旦刪除將無法復原，刪除帳號前請三思。</li>
      <li>如因可歸責於本平台之事由，致本平台無法繼續提供服務時，我們將於網站公告說明，並終止所有服務，不另行通知。</li>
      <li>如因會員帳號終止而導致您有任何的損失，將由您自行負擔，本平台不負責任何因會員帳號終止而產生的損失。</li>
      <li>我們保留隨時調查、暫時關閉、或永久取消您的個人帳戶的會員權利。下述原因可能會造成您個人在本平台會籍遭受調查、暫停、終止或取消包括但不限於：</li>
    
      <ol>
        <li>他人舉報違反使用條款或不當言行。</li>
        <li>違反(或是我們有正當理由懷疑您已經或可能違反)任何一條列於網站中的條款規定。</li>
        <li>我們認為您友不恰當的行為或從事違法行為。</li>
        <li>當您的會員帳號被終止後，您將無法繼續使用本平台及相關平台所提供的服務，本平台可能會也可能不會透過某種方式通知您，但沒有義務卻保您有收到通知。</li>
        <li>您瞭解並同意我們有權刪除任何違反本會員條款或可能會影響到別人的權益或他人安全的不當或不雅內容。</li>
        <li>一旦您的會員帳號或發表內容經系統判定或他人檢舉，以官方判定違反使用條款，所屬會員帳號會在 24 小時內，依照嚴重程度給予懲罰或停權，所發表之內容也會被刪除。</li>
        <li>如您的會員帳號是因違反使用條款而被終止時，本平台不負責任何因會員帳號終止而產生的損失，亦不負任何退費義務或損害賠償責任。</li>
        <li>如您對於您的帳號被終止有任何問題，請於設定中之**系統回報**回覆給我們。</li>
      </ol>

    </ol>

    <p>**十六、司法及法律管轄**</p>    
    
    <p>本會員條款以及雙方的權利義務受中華民國相關法律規範之管轄與督導。任何因本會員條款所導致或與本會員條款有關的法律行為或訴訟，除法律另有規定者外，將由中華民國境內的法院進行審判，雙方同意以臺灣台北地方法院為第一審管轄法院。</p>
    
    <p>**十七、賠償罰金**</p>
    
    <p>你瞭解並同意為自己在使用本平台任何服務時的行為負責。你在此同意賠償、辯護、保護我們、我們的合作廠商、授權人員、員工和代理商免於因為你的個人使用、不當使用或無法使用任何服務或其內容的行為，或違反任何一條會員條款所導致的賠償、損失、費用、損害、費用(包括但不限於直接、間接、無意、必然且/或懲戒性損害)，以及合理訴訟費時所承擔的責任，並為其提供辯護和確保其免受損失。</p>
    
    <p>**最後更新：2021 年**</p>
    
  </body>
</html>
