/*colors*/
.charmbo-color-primary{ color:#F2C611; }
.charmbo-color-secondary{ color:#FF794F; }
.charmbo-bgcolor-primary{ background:#F2C611; }
.charmbo-bgcolor-secondary{ background:#FF794F; }
.charmbo-bgcolor-white{ background:#FFFFFF; }
.charmbo-bgcolor-gray{ background:#FAF9F7; }
.charmbo-bgcolor-disable{ background:#A9A8A5; }
.charmbo-bgcolor-chat{ background:#F8DE71; }
.charmbo-text-color1{ color:#37374B; }
.charmbo-text-color2{ color:#4C4C4B; }
.charmbo-text-color3{ color:#8D8D8D; }
.charmbo-text-color4{ color:#A9A8A5; }
.charmbo-text-color5{ color:#FFFFFF; }
.charmbo-text-color6{ color:#D6D5D1; }
/*font-weight*/
.fw-thin{ font-weight:100; }
.fw-extra-light{ font-weight:200; }
.fw-light{ font-weight:300; }
.fw-normal{ font-weight:400; }
.fw-medium{ font-weight:500; }
.fw-semi-bold{ font-weight:600; }
.fw-bold{ font-weight:700; }
.fw-extra-bold{ font-weight:800; }
.fw-black { font-weight:900; }
/*font-size*/
.fs-12{ font-size:12px; }
.fs-14{ font-size:14px; }
.fs-16{ font-size:16px; }
.fs-20{ font-size:20px; }
/*text-align*/
.text-align-left{ text-align: left; }
.text-align-center{ text-align: center; }
.text-align-right{ text-align: right; }
/*other*/
.po-relative { position: relative; }
.po-absolute { position: absolute; }
.cursor-pointer { cursor: pointer; }
.charmbo-scroll {overflow-y: scroll;}
.charmbo-scroll::-webkit-scrollbar { display: none;}